
:root{
/*GREYS*/
--Grey-950: hsl(255, 22%, 4%);
--Grey-900: hsl(248, 17%, 9%);
--Grey-850: hsl(248, 15%, 11%);
--Grey-800: hsl(248, 10%, 15%);
--Grey-700: hsl(248, 5%, 34%);
--Grey-600: hsl(251, 9%, 53%);
--Grey-200: hsl(252, 11%, 91%);

/*OTHER COLORS*/
--Green-200: hsl(127, 100%, 82%);
--Yellow-300: hsl(42, 91%, 68%);
--Orange-400: hsl(13, 95%, 66%);
--Red-500: hsl(0, 91%, 63%);
}

@font-face {
  font-family: JetBrains Mono;
  src: url(assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf);
}

html, body {
    font-family:"Space mono", monospace;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color:black;
    color:whitesmoke;
}
.maincontainer{
  background-color: var(--Grey-800);  
  display: flex;
  flex-direction:column;
  max-height: 100vh;
  padding:1rem;
  width:25rem;
  height:27rem;
}

.app_title{
  display:flex;
  justify-content: center;
  align-items: center;
  color:var(--Grey-600);
  font-size: 18px;
  margin:2rem;
}

.password_window{
  background-color: var(--Grey-800);
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:0rem 1rem;
  margin-bottom: 1rem;
}

.password_content{
  font-size: 24px;
}

.character_length{
  padding:0rem 0.5rem 0rem 0rem ;
  font-size: 14px;
}

li{
  padding-top:0.5rem;
  padding-left: 1rem;
}

input[type=number]{
  background-color:var(--Grey-800);
  color:var(--Green-200);
  border:none;
  font-family: JetBrains Mono;
  font-size: 24px;
  position:relative;
  left:21rem;
  bottom: 4rem;

}
#character_length_range{
-webkit-appearance: none;
border:none;
outline:none;
margin: 2rem 0.25rem 0rem 0.25rem;
background: linear-gradient(90deg, hsl(248, 15%, 11%) 60%, hsl(248, 15%, 11%) 60%);
height:0.5rem;
width:24rem;
opacity:0.9;
-webkit-transition: 2s;
padding:0rem;
}

#character_length_range::-webkit-slider-thumb{
-webkit-appearence:none;
appearance:none;
width:30px;
height:30px;
border-radius: 50%;
background-color: aliceblue;
cursor: pointer;
}

#character_length_range::-webkit-slider-thumb:hover{
  background-color: var(--Grey-850);
  border: 1px solid var(--Green-200)
}

.list{
  padding:0rem 0rem 1rem 0rem;
}

ul{
list-style: none;
text-align: left;
padding:0rem;
font-size: 14px;
}

.list_point input{
  display:none;
}

li{
  margin-left:1.5rem;
}

.list_point span{
  height: 1rem;
  width: 1rem;
  border: 1.5px solid whitesmoke;
  display: inline-block;
  position: relative;
  right:2rem;
}

.list_point input:checked ~ .checkmark {
  background-color:var(--Green-200);
  border: 1.5px solid var(--Green-200)
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.list_point input:checked ~ .checkmark:after {
  display: block;
}

.list_point .checkmark:after {
  left:5px;
  top:0px;
  width: 5px;
  height: 10px;
  border: 1.5px solid var(--Grey-800);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.window_down{
  display:flex;
  align-items: center;
  justify-content: center;
  padding:1rem;
}

.window_down_btn{
    background-color:var(--Green-200);
    border: none;
    color:var(--Grey-800);
    margin-top:1rem;
    border-radius: 1px;
    font-weight: 600;
    min-height:3rem;
    min-width: 22rem;}

.window_down_btn:hover{
  background-color: var(--Grey-850);
  border: 2px solid var(--Green-200);
  color: var(--Green-200);
  cursor: pointer;
}
.password_strength_title{
  color:var(--Grey-600);
}
.password_strength{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Grey-800);
  background-color: var(--Grey-850);
  padding: 0.25rem 0.5rem;
}


.password_copy{
  cursor: pointer;
}

.password_strength__symbol{
  position:reative;
  right:1rem;
}