
:root{
/*GREYS*/
--Grey-950: hsl(255, 22%, 4%);
--Grey-900: hsl(248, 17%, 9%);
--Grey-850: hsl(248, 15%, 11%);
--Grey-800: hsl(248, 10%, 15%);
--Grey-700: hsl(248, 5%, 34%);
--Grey-600: hsl(251, 9%, 53%);
--Grey-200: hsl(252, 11%, 91%);

/*OTHER COLORS*/
--Green-200: hsl(127, 100%, 82%);
--Yellow-300: hsl(42, 91%, 68%);
--Orange-400: hsl(13, 95%, 66%);
--Red-500: hsl(0, 91%, 63%);
}

@font-face {
  font-family: JetBrains Mono;
  src: url(assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf);
}

html, body {
    font-family:"Space mono", monospace;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color:black;
    color:whitesmoke;
}
.maincontainer{
  background-color: var(--Grey-800);  
  display: flex;
  flex-direction:column;
  max-height: 100vh;
  padding:1rem;
  min-width:25rem;
  height:25rem;
}

.app_title{
  display:flex;
  justify-content: center;
  align-items: center;
  color:var(--Grey-600);
  font-size: 18px;
  margin:2rem;
}

.password_window{
  background-color: var(--Grey-800);
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:0rem 1rem;
  margin-bottom: 1rem;
}

.password_content{
  font-size: 24px;
}

label{
  display:block;
  padding:1rem;
}


input[type=range] {
    width:25rem;
}

#character_length_range{
border:none;
outline:none;
background-color: black;
}

#character_length_range::-webkit-slider-runnable-track {
  background-color: var(--Grey-850);

}
#character_length_range::-moz-progress-bar {
  background-color: var(--Green-200);
}


ul{
list-style: none;
text-align: left;
padding:0;
font-size: 16px;
}
li{
  margin:0.5rem;
}

.list_point input{
  display:none;
}

.list_point span{
  height: 1rem;
  width: 1rem;
  border: 1.5px solid whitesmoke;
  display: inline-block;
  position: relative;
}

.list_point input:checked ~ .checkmark {
  background-color:var(--Green-200);
  border: 1.5px solid var(--Green-200)
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.list_point input:checked ~ .checkmark:after {
  display: block;
}

.list_point .checkmark:after {
  left:5px;
  top:px;
  width: 5px;
  height: 10px;
  border: 1.5px solid var(--Grey-800);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.window_down{
  display:flex;
  align-items: center;
  justify-content: center;
  padding:1rem;
}

.window_down_btn{
    background-color:var(--Green-200);
    border: none;
    color:var(--Grey-800);
    padding:0.5rem 4rem;
    border-radius: 1px;
    cursor:pointer;
}
.password_strength_title{
  color:var(--Grey-600);
}
.password_strength{
  display:grid;
  grid-template-columns: 60% 25% 25%;
  background-color: var(--Grey-800);
  background-color: var(--Grey-850);
  padding: 0.25rem 0.5rem;
}